extends ./layout/layout.pug

block content
  div.container
    h1= user

    table.table.table-bordered
      thead
        tr
          th="Skills"
          th="Rank"
          th="Level"
          th="Total Experience"
      tbody
        tr
          th="Overall"
          th= overall.rank
          th= overall.level
          th= overall.totalExperience
        tr
          th
            img(src="../public/img/attack.png")
          th= attack.rank
          th= attack.level
          th= attack.totalExperience
        tr
          th
            img(src="../public/img/defence.png")
          th= defence.rank
          th= defence.level
          th= defence.totalExperience
        tr
          th
            img(src="../public/img/strength.png")
          th= strength.rank
          th= strength.level
          th= strength.totalExperience
        tr
          th
            img(src="../public/img/constitution.png")
          th= constitution.rank
          th= constitution.level
          th= constitution.totalExperience
        tr
          th
            img(src="../public/img/ranged.png")
          th= ranged.rank
          th= ranged.level
          th= ranged.totalExperience
        tr
          th
            img(src="../public/img/prayer.png")
          th= prayer.rank
          th= prayer.level
          th= prayer.totalExperience
        tr
          th
            img(src="../public/img/magic.png")
          th= magic.rank
          th= magic.level
          th= magic.totalExperience
        tr
          th
            img(src="../public/img/cooking.png")
          th= cooking.rank
          th= cooking.level
          th= cooking.totalExperience
        tr
          th
            img(src="../public/img/woodcutting.png")
          th= woodcutting.rank
          th= woodcutting.level
          th= woodcutting.totalExperience
        tr
          th
            img(src="../public/img/fletching.png")
          th= fletching.rank
          th= fletching.level
          th= fletching.totalExperience
        tr
          th
            img(src="../public/img/fishing.png")
          th= fishing.rank
          th= fishing.level
          th= fishing.totalExperience
        tr
          th
            img(src="../public/img/firemaking.png")
          th= firemaking.rank
          th= firemaking.level
          th= firemaking.totalExperience
        tr
          th
            img(src="../public/img/crafting.png")
          th= crafting.rank
          th= crafting.level
          th= crafting.totalExperience
        tr
          th
            img(src="../public/img/smithing.png")
          th= smithing.rank
          th= smithing.level
          th= smithing.totalExperience
        tr
          th
            img(src="../public/img/mining.png")
          th= mining.rank
          th= mining.level
          th= mining.totalExperience
        tr
          th
            img(src="../public/img/herblore.png")
          th= herblore.rank
          th= herblore.level
          th= herblore.totalExperience
        tr
          th
            img(src="../public/img/agility.png")
          th= agility.rank
          th= agility.level
          th= agility.totalExperience
        tr
          th
            img(src="../public/img/thieving.png")
          th= thieving.rank
          th= thieving.level
          th= thieving.totalExperience
        tr
          th
            img(src="../public/img/slayer.png")
          th= slayer.rank
          th= slayer.level
          th= slayer.totalExperience
        tr
          th
            img(src="../public/img/farming.png")
          th= farming.rank
          th= farming.level
          th= farming.totalExperience
        tr
          th
            img(src="../public/img/runecrafting.png")
          th= runecrafting.rank
          th= runecrafting.level
          th= runecrafting.totalExperience
        tr
          th
            img(src="../public/img/hunter.png")
          th= hunter.rank
          th= hunter.level
          th= hunter.totalExperience
        tr
          th
            img(src="../public/img/construction.png")
          th= construction.rank
          th= construction.level
          th= construction.totalExperience
        tr
          th
            img(src="../public/img/summoning.png")
          th= summoning.rank
          th= summoning.level
          th= summoning.totalExperience
        tr
          th
            img(src="../public/img/dungeoneering.png")
          th= dungeoneering.rank
          th= dungeoneering.level
          th= dungeoneering.totalExperience
        tr
          th
            img(src="../public/img/divination.png")
          th= divination.rank
          th= divination.level
          th= divination.totalExperience
        tr
          th
            img(src="../public/img/invention.png")
          th= invention.rank
          th= invention.level
          th= invention.totalExperience