html
  head
    meta(charset="UTF-8")
    title="Rank"
    script(type="text/javascript", src="../bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.min.css")

  body
    .container
      h1= user

      table.table.table-bordered
        thead
          tr
            th="Rank"
            th="Level"
            th="Total Experience"
        tbody
          tr
            th= overall.rank
            th= overall.level
            th= overall.totalExperience
          tr
            th= attack.rank
            th= attack.level
            th= attack.totalExperience
          tr
            th= defence.rank
            th= defence.level
            th= defence.totalExperience
          tr
            th= strength.rank
            th= strength.level
            th= strength.totalExperience
          tr
            th= constitution.rank
            th= constitution.level
            th= constitution.totalExperience
          tr
            th= ranged.rank
            th= ranged.level
            th= ranged.totalExperience
          tr
            th= prayer.rank
            th= prayer.level
            th= prayer.totalExperience
          tr
            th= magic.rank
            th= magic.level
            th= magic.totalExperience
          tr
            th= cooking.rank
            th= cooking.level
            th= cooking.totalExperience
          tr
            th= woodcutting.rank
            th= woodcutting.level
            th= woodcutting.totalExperience
          tr
            th= fletching.rank
            th= fletching.level
            th= fletching.totalExperience
          tr
            th= fishing.rank
            th= fishing.level
            th= fishing.totalExperience
          tr
            th= firemaking.rank
            th= firemaking.level
            th= firemaking.totalExperience
          tr
            th= crafting.rank
            th= crafting.level
            th= crafting.totalExperience
          tr
            th= smithing.rank
            th= smithing.level
            th= smithing.totalExperience
          tr
            th= mining.rank
            th= mining.level
            th= mining.totalExperience
          tr
            th= herblore.rank
            th= herblore.level
            th= herblore.totalExperience
          tr
            th= agility.rank
            th= agility.level
            th= agility.totalExperience
          tr
            th= thieving.rank
            th= thieving.level
            th= thieving.totalExperience
          tr
            th= slayer.rank
            th= slayer.level
            th= slayer.totalExperience
          tr
            th= farming.rank
            th= farming.level
            th= farming.totalExperience
          tr
            th= runecrafting.rank
            th= runecrafting.level
            th= runecrafting.totalExperience
          tr
            th= hunter.rank
            th= hunter.level
            th= hunter.totalExperience
          tr
            th= construction.rank
            th= construction.level
            th= construction.totalExperience
          tr
            th= summoning.rank
            th= summoning.level
            th= summoning.totalExperience
          tr
            th= dungeoneering.rank
            th= dungeoneering.level
            th= dungeoneering.totalExperience
          tr
            th= divination.rank
            th= divination.level
            th= divination.totalExperience
          tr
            th= invention.rank
            th= invention.level
            th= invention.totalExperience